.menu-button {
     /* Set the background color */
    -fx-background-color: rgba(255, 255, 255, 0);
     /* Set the border color */
     /* Set the border radius to make it rounded */
    -fx-padding: 5; /* Add padding */
    /* Add padding */
}

.menu-button:hover {

    -fx-padding: 10;
    -fx-border-color: #000000;
    -fx-background-insets: 1.5, 20;
    -fx-border-radius: 10;

    /* Add shadow effect and change color to green on hover */
}
.selectedbutton {
    /* Existing styles */
    -fx-background-color: transparent;
    -fx-alignment: center;

    -fx-background-insets: 1.5, 20;
    -fx-border-radius: 15;
    -fx-border-color: #515151;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;

   
    /* Add shadow effect */

}





.scroula{
    -fx-background-color:transparent;
}

.scroula > .viewport {
-fx-background-color: transparent;
}
.scroula .scroll-bar {
    -fx-background-color: transparent; /* Set transparent background for the entire scrollbar */
    -fx-border-color: black; /* Set black border around the scrollbar (simulates track) */
    -fx-border-width: 0px; /* Set border width for the simulated track */
}
.scroula .scroll-bar:vertical .thumb,
.scroula .scroll-bar:horizontal .thumb {
    -fx-background-color: #717171; /* Set the color of the thumb */
    -fx-background-radius: 5px; /* Set the border radius to make it rounded */
}


/* Style the track (the non-draggable part of the scrollbar) */


.recherche{
    -fx-background-radius: 15; /* Set the background radius to make it rounded */
    -fx-border-radius: 15; /* Set the border radius to make it rounded */
    -fx-border-color: #000000; /* Set the border color */
    -fx-padding: 5;
    -fx-background-color: transparent;
    /* Add padding */
}
.recherche .text {
    -fx-text-fill: black; /* Set the prompt text color to black */
}
.recherche:hover {
    -fx-border-color: green; /* Change border color on hover */
}

.custom-checkbox {
    -fx-background-color: transparent; /* Set background color to transparent */
}

.custom-checkbox .box {
    -fx-background-color: transparent; /* Set background color of the checkbox box to transparent */
    -fx-border-color: #000000; /* Set border color */
    -fx-border-radius: 5; /* Set border radius to make it rounded */
}

.custom-checkbox:hover .box {
    -fx-border-color: green; /* Change border color on hover */
}

.custom-checkbox:selected .box {
    -fx-background-color: green; /* Change background color of the checkbox box when selected */
}

.custom-checkbox:selected .mark {
    -fx-background-color: #ffffff; /* Set color of the check mark when selected */
}